// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.my_alert {
    color: red;
    font-weight: bold;
    border:1px solid black;
    width: 400px;
    padding: 10px;
}